html, body {
  width: 100%;
  height: 100%;
}

.page-header {
  background-color: #6C648B;
  text-align: center;
  color: white;
  margin-top: 0;
  padding: 20px;
}

.navbar-light {
  background-color: #6BBAA7;
  border-color: gainsboro;
}


.carousel .item {
    height: 375px !important;
    background-color: #FBA100 !important;
}

.carousel-item {
    background-repeat: no-repeat !importand;
    background-size: 100% 100% !important;
}

/*
.slide1 {
    background: url("http://jayapalan.com/lifechurch/images/banner/banner_yellowflower_1200x315.png") no-repeat;
    background-size: cover;
    
}

.slide2 {
    background: url("http://jayapalan.com/lifechurch/images/banner/banner_dognearpool_1200x315.png") no-repeat;
    background-size: cover;
}

.slide3 {
    background: url("http://jayapalan.com/lifechurch/images/banner/banner_hills_1200x315.png") no-repeat;
    background-size: cover;
    
}
*/



/* Widget styles -- Widgets have been used primarily on the homepage instead of cards
	This is to accomplish fixed height and other minor style elements. Other pages have used cards instead.
*/
.widget {
  border-radius: 4px;
	background-color: #DED7D6;
}

.widget-header {
    border-radius: 2px;
    background-color: #6BBAA7;
    color: white;
    padding: .5rem;
}

.widget-block {
  padding: .5rem;
}

.widget-outline {
  border: 1px solid #6BBAA7;
}

.widget-height {
	min-height: 300px;
}

.widget-box-area {
  padding-top: 20px;
}

/*
.widget-box {
  background-color: gainsboro;
  padding: 10px;
  min-height: 300px;
  max-height: auto;
  max-height: 500px;
  overflow: auto;
  margin-bottom: 20px;

}
*/


/* Style override for bootstrap's built-in card elements */

.card-header {
	background-color: #6BBAA7;
}

.image-width {
  max-width: 100%;
  height: auto;
  display: block;
  padding-bottom: 5px;
}

.img-center {
  margin: 0 auto;
}

.img-circle {
  border-radius: 50%;
}

.staff-image-area {
    text-align: center;
}

footer {
  padding-top: 20px;
  background-color: #6C648B;
  height: 60px;
  text-align: center;
}

.center-text {
  text-align: center;
}

#map {

  width: 100%;
  height: 200px;

}


a.social-icon {
  text-decoration: none;
}

.facebook-container {
  width: 100%;
  height: 100px;
  padding: 8%;
  text-align: center;
  background-color: #3b5998;
  margin-bottom: 2px;
  margin-top: 10px;
}

.facebook-text {
  font-family:'Segoe UI Historic', 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: white;
}

.twitter-container {
  width: 100%;
  height: 100px;
  padding: 8%;
  text-align: center;
  background-color: #55ACEE;
}

.twitter-text {
  font-size: 30px;
  font-weight: 500;
  color: white;
}

footer {
  margin-top: 30px;
}

.add-bottom-margin {
  margin-bottom: 15px;
}


/* Calendar Style */

#calendar-buttons-area {
	text-align: center;
	background-color: dodgerblue;
}


thead {
  background-color: gray;
}

table td {
  position: relative;
  height: 130px;
  max-width: 70px;
  border: 1px solid black;
}

.date-cell {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 25px;
  background-color: aqua;
  color: black;
  font-weight: 600;
  padding-left: 4px;
  
}



.not-this-month {
	color: red;
	background-color: lightgrey;
}

.event-item {
  padding-top: 12px;
}

.event-item ul {
  padding: 0;
  margin: 0;
}
.event-item li {
  border: 1px solid black;
  border-top: 5px solid blue;
  list-style-type: none;
  margin-top: 2px;
}

.event-item a {
  font-size: 12px;
}

/* Blog page style */

.blog-cards {
	max-height: 350px;
	overflow: hidden;
}

/* Bootstrap Overrides */

.btn-primary {
	background-color: #FBA100;
	border-color: #FBA100;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
	color: #fff;
	background-color: #6BBAA7;
}

.nav-pills .nav-link {
	border-radius: 0;
}